/* Estilo para o corpo da página */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #0D1117;
}

/* Estilo para o cabeçalho */
.App-header {
  background-color: #010409;
  color: #fff;
}

/* Estilo para o formulário de pesquisa */
.App-search span {
  border-radius: 0;
  background-color: #0D1117;
  color: #A6A8AB;
}

/* Estilo para o rodapé */
.App-footer {
  margin-top: auto;
  background-color: #010409;
  color: #fff;
}
